* {
    -fx-theme-async-flow-vertex-stroke: #9c0084;
    -fx-theme-async-flow-vertex-fill: #eb34d5;
    -fx-theme-async-flow-vertex-label-fill: #FFF;
    -fx-theme-async-flow-edge-stroke: #65ce8a;
    -fx-theme-async-flow-edge-label-fill: #FFF;
}
