* {
    -fx-theme-async-flow-vertex-stroke: #61B5F1;
    -fx-theme-async-flow-vertex-fill: #B1DFF7;
    -fx-theme-async-flow-vertex-label-fill: #3f474f;
    -fx-theme-async-flow-edge-stroke: #FF6D66;
    -fx-theme-async-flow-edge-label-fill: #3f474f;
}
